DB_NAME=jira_lite
DB_USER=jira_user
DB_PASSWORD=jira_pass
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
